{% extends 'food_app/base.html' %}
{% load static %}

{% block content %}
<!-- cart start -->
<div class="container-cart">
    <div class="row-cart">
        <div class="col-cart-main">
            <h2 class="resto-name">Your Orders</h2>
            <hr>
            <div class="row-order-item">
                <!-- one order item start -->
                {% if orders %}
                    {% for order in orders %}
                    <div class="col-order-item">
                        <img src="http://localhost:8000{{order.item.image.url}}" class="img-item" alt="item-image">
                        <div class="order-item-details">
                            <div class="item-details">{{it.item.restaurant.restaurant_name}}</div>
                            <div class="stars item-details">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="item-details">{{order.item.name}}</div>
                            <div class="item-price item-details" id= "unit_price{{order.id}}">Rs. {{order.item.unit_price}}</div>
                        </div>
                        <div class="order-controls">
                            <div class="quantity">Quantity: {{order.quantity}}</div>
                            <div class="quantity-buttons">
                                <button class="inde" id="subtract{{order.id}}" onClick="decrement({{order.id}})">
                                    <i class="fa-solid fa-minus minus"></i>
                                </button>
                                <input class="qty-input" type="number" id="quantity{{order.id}}" name="quantity" value="{{order.quantity}}">
                                <button class="inde" id="add{{order.id}}" onClick="increment({{order.id}})">
                                    <i class="fa-solid fa-plus plus"></i>
                                </button>
                                <a href="{% url 'delete_from_orders' order.id %}"> 
                                    <button class="delete" type="submit">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </a> 
                            </div>
                            <div class="total">Total: Rs. <span id="total{{order.id}}">{% widthratio order.quantity 1 order.item.unit_price %}</span></div>
                        </div>
                        
                    </div>
                    {% endfor %}

                </div>
                    <!-- checkout button -->
                    <div class="col-cart-checkout">
                        <a href="{% url 'billing_location' %}">
                            <button class="checkout-btn">Checkout</button>
                        </a>
                    </div>
                {% else %}
                <div>
                    <h3>No items in cart</h3>
                </div>
                {%endif%}
                <!-- one order item end -->
            </div>

        </div>
        <div class="col-cart-mid">

        </div>
    </div>
</div>
<!-- cart end -->
<script>
    function decrement(id){
        var quantity = document.getElementById("quantity"+id).value;
        var unit_price = document.getElementById("unit_price"+id).innerHTML;
        var total = document.getElementById("total"+id).value;
        
        quantity = parseInt(quantity);
        unit_price = parseFloat(unit_price.replace('Rs.',''));

        if(quantity > 1){
            quantity--;
            total = quantity * unit_price;
            document.getElementById("quantity"+id).value = quantity;
            document.getElementById("total"+id).innerHTML = total;
        }
    }
    
    
    function increment(id){
        var quantity = document.getElementById("quantity"+id).value;
        var unit_price = document.getElementById("unit_price"+id).innerHTML;
        var total = document.getElementById("total"+id).value;

        quantity = parseInt(quantity);
        unit_price = parseFloat(unit_price.replace('Rs.',''));

        quantity++;
        total = quantity * unit_price;
        
        document.getElementById("quantity"+id).value = quantity;
        document.getElementById("total"+id).innerHTML = total;
    }

</script>
{% endblock %}