{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- content start -->
    <div class="container">
        <div class="row_order">
            <div class="col_column">
                <h1>Order Table</h1>
                <form action="">
                    <!-- form content -->
                </form>
            </div>
        </div>
    </div>

    <!-- content end -->

    <!-- popip login start -->
    <div class="popup">
        <div class="popup-content">
            <form action="">
            <img src="./images/close.png" alt="close" class="close">
            <h2 class="title-login">Login</h2>
            <br>
            <label class="reg-details">Number</label>
            <input class="inputBox number" type="number" placeholder="Number">
            <label class="reg-details">Password</label>
            <input class="inputBox" type="password" placeholder="Password">
            <!-- <a href="#" class="button">Login</a> -->
            <br>
            <inpit type="submit" class="login-button">Login</inpit>
            <a href="#" class="forgot-password">Forgot password?</a>
            <p class="signup">Don't have account? <a href="#" class="signup-link">Signup</a></p>
            
            </form>
            
        </div>
    </div>
    <script>
        document.getElementById("button").addEventListener("click", function(){
            document.querySelector(".popup").style.display="flex";
            console.log("clicked.");
        });

        document.querySelector(".close").addEventListener("click", function(){
            document.querySelector(".popup").style.display="none";
        });
    </script>
{% endblock content %}