    <!-- header start -->
    <header>
        <nav class="navbar">
            <a href="{% url 'landing_page' %}" class="nav-branding">Bhoklagyo</a>
            <ul class="nav-menu">
                {% if user.is_authenticated %}
                    {% if user.role == 1 %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout-admin' %}" id="button" class="nav-link">Logout</a> <!-- login id is here -->
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'home_page' %}" class="nav-link">Home </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'cart' %}" class="nav-link"><i class="fa-sharp fa-solid fa-basket-shopping"></i><span ><sup>{{user.order.count}}</sup></span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" id="button" class="nav-link">logout</a> <!-- login id is here -->
                        </li>
                    {% endif %}
                    
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'home_page' %}" class="nav-link">Home </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" id="button" class="nav-link">Login</a> <!-- login id is here -->
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'signup' %}" id="button" class="nav-link">Signup</a> <!-- login id is here -->
                    </li>
                {% endif %}
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <!-- header end -->