{% extends 'food_app/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row-restaurant">
      <div class="col-restaurant">
          <h1>User Register</h1>
          <form action="/user_app/register/" method="post" enctype="multipart/form-data">
            {% csrf_token %}                    
              <label class="details" for="first_name">First Name:</label>
              <input type="text" class="input-details" name="first_name">

              <label class="details" for="last_name">Last Name:</label>
              <input type="text" class="input-details" name="last_name">

              <label class="details" for="email">Email:</label>
              <input type="email" class="input-details" name="email">

              <label class="details" for="phone">Phone:</label>
              <input type="tel" pattern="9[0-9]{9}" class="input-details" name="phone">

              <label class="details" for="password">Password:</label>
              <input type="password" class="input-details" name="password">

              <button type="submit" class="register-button">Signup</button>
          </form>
          <div class="login-color">Already have an account? <a href="{% url 'login' %}">Login</a></div>
      </div>
  </div>
</div>
{% endblock %}

