.container-cart{
    width: 100vw;
    /* height: 400px; */
}
.top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.goto-orders{
    color:rgb(19, 17, 17);
    font-family: Arial, Helvetica, sans-serif;
}

.row-cart{
    display: flex;
    flex-wrap: wrap;    
    /* justify-content: flex-start; */
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.col-cart-main{
    width: 60vw;
    /* border: 1px solid black; */
    height: auto;
}
.col-cart-mid{
    width: 2vw;
    /* border-left: 1px solid blue; */
    margin-left: 20px;
}
.col-cart-right{
    width: 20vw;
    /* border: 1px solid red;x */
}
.resto-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 5px 10px;
}
.col-cart-main hr{
    margin-bottom: 10px;
}

/* items start */
.col-order-item{
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 5px;
}
.order-item-details{
    padding: 10px 0;
    width: 50%;
}
.img-item{
    width: 160px;
    height: 120px;
    border-radius: 10px;

}
.col-order-item{
    display: flex;
}
.item-details{
    margin-left: 20px;
    margin-bottom: 4px;
    font-size: 16px;
}

/* order controls */
.order-controls{
    padding: 10px 
}
.order-controls .quantity{
    margin-bottom: 10px;
}
.order-controls .quantity-buttons{
    margin-bottom: 20px;
    height: 20px;
}
.order-controls .quantity-buttons .qty-input{
    width: 40px;
    height: 30px;
    padding: 3px;
    text-align: center;
    /* border-radius: 2px; */
}
.order-controls .quantity-buttons .inde{
    width: 30px;
    height: 30px;
}
.order-controls .quantity-buttons .delete{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order-controls .quantity-buttons .qty-input:focus{
    outline: none;
}

.order-controls .total{
    font-weight: bold;
}
/* items end */
.col-cart-checkout{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.order-btn{
    background: #fff;
    height: 50px;
    width:100%;
    color: #34495e;
    font-weight: 800;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
    border:3px solid #ff4548;
}
.order-btn:hover{
    background-color: #ff4548;
    color:wheat;
}

@media (max-width: 768px){
    .col-cart-mid{
        display: none;
    }
    .col-cart-right{
        display: none;
    }
    .col-cart-main {
        width: 100vw;
        height: auto;
    }
    .col-order-item {
        /* display: flex; */
        /* flex-direction: column; */
    }
    .order-item-details {
        padding: 5px 0;
        width: 50%;
        margin-left: -10px;
    }
    .order-controls {
        padding: 10px;
        margin-top: -10px;
    }
    .img-item {
        width: 73px;
        height: 56px;
        border-radius: 10px;
        margin-top: 15px;
    }
    .item-details {
        margin-left: 20px;
        margin-bottom: 2px;
        font-size: 12px;
    }
    .order-item-details {
        padding: 1px 0;
        width: 50%;
        margin-left: -10px;
        margin-top: 5px;
    }
    .order-controls .quantity {
        margin-bottom: 1px;
        font-size: 13px;
        margin-top:3px;
    }
    .order-controls .quantity-buttons .inde {
        width: 20px;
        height: 20px;
    }
    .order-controls .quantity-buttons .qty-input {
        width: 35px;
        height: 20px;
        padding: 2px;
        text-align: center;
        /* border-radius: 2px; */
    }
    .order-controls .quantity-buttons .delete {
        width: 20px;
        height: 23px;
        margin-top: 6px;
        margin-left: 7px;
    }
    .order-controls .total {
        font-size: 12px;
        margin-top: 35px;
    }
    .order-btn {
        float: right;
        margin-right: 13%;
        margin-top: 10px;
        margin-bottom: 20px;
        letter-spacing: 1px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    }
}