{% extends 'food_app/base.html' %}
{% load static %}

{% block title %}OTP | Bhoklagyo {% endblock %}

{% block css %}    
    <link rel="stylesheet" href="{% static './css/otp.css' %}">
{% endblock css %}

{% block content %}
    <section class="container-80">
        <div class="row-otp">
            <div class="col-otp">
                <h2>Validate OTP (One Time Password)</h2>
                <hr style="width:100%; margin: 10px 0;">
                <h4>Enter your OTP you have received.</h4>
                <form action="/authentication_app/otp/" method ="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="inputOTP">
                        <input type="text" name="otp">
                    </div>
                    <div class="validateBox">
                        <button type="submit">Validate</button>
                    </div>
                    <div class="resendOTP">
                        <a href="/authentication_app/resend_otp/">Resend OTP</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
