{% extends 'food_app/base.html' %}

{% block title %}OTP | Bhoklagyo {% endblock %}
{% block content %}
    <section class="container-80">
        <div class="row">
            <div class="col-otp">
                <h2>Validate OTP (One Time Password)</h2>
                <hr style="width:100%; margin: 10px 0;">
                <h4>Enter your OTP you have received.</h4>
                <form action="/authentication_app/otp/" method ="POST">
                    {% csrf_token %}
                    <div class="inputBox">
                        <input type="text" name="otp">
                    </div>
                    <div class="validateBox">
                        <button type="submit">Validate</button>
                    </div>
                    <div class="resendOTP">
                        <a href="/authentication_app/resend_otp/">Resend OTP</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
