
<!--    footer start-->
    <footer class="footer">
        <div class="container-80">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our services</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Partner With Us</h4>
                    <ul>
                        <li><a href="{% url 'register-restaurant-form' %}" class="nav-link">Add Restaurent </a></li>
                        <li><a href="#">Parthership Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <ul>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="color:#fff; margin-bottom:-10px;">&copy; BhokLagyo 2022</div>
        </div>
    </footer>
<!--    footer end-->
