{% extends 'food_app/base.html' %}
{% load static %}

{% block title %} Admin {% endblock %}
{% block css %}<link rel="stylesheet" href="{% static './css/restro_admin.css' %}">{% endblock css %}

{% block content %}

<div class="container-admin">
    
    <div class="row-add_items">
        <div class="col-add_items">
            <form action="{% url 'add-food' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Add Items</h1>
                <div class="input_group">
                <label for="name" class="item_name">Name:</label>
                <input type="text" class="inputItemBox" name="name">
                </div>
                <div class="input_group">
                <label for="price" class="item_name">Price:</label>
                <input type="number" class="inputItemBox" name="price">
                </div>
                <div class="input_group">
                <label for="image" class="item_name item_image">Image:</label>
                <input type="file" id="img" name="image">
                </div>
                <br>

                <button class="btn-add" type="submit">
                    <i class="fa-solid fa-circle-plus"></i> Add
                </button>
            </form>
        </div>
        <hr style="margin-bottom: 10px;">

        <div class="row-menu">
            <div class="col-menu">
                <h1>All Items </h1>
                
                    <table>
                        <thead class="thead">
                            <tr class="table-row">
                                {% comment %} <th class="table-heading">S.N.</th> {% endcomment %}
                                <th class="table-heading">Name</th>
                                <th class="table-heading">Price</th>
                                <th class="table-heading">Controls</th>
                            </tr>
                    
                        </thead>
                        <tbody class="tbody">
                            {% for food in foods %}
                            <tr class="table-row">
                                {% comment %} <th class="table_data">1</th> {% endcomment %}
                                <td class="table_data">{{food.name}}</td>
                                <td class="table_data">Rs. {{food.unit_price}}</td>
                                <td class="buttons">
                                    <button class="tbtn">Edit</button>
                                    <button class="tbtn">Delete</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <div>
</div>


{% endblock%}