{% extends 'food_app/base.html' %} 
{% load static %} 

{% block title %} Register {% endblock %} 
{% block css %}<link rel="stylesheet" href="{% static './css/restro_signup.css' %}">{% endblock css %}

{% block content %}
<form method="POST">
    <!-- content start -->
    <div class="container">
        <div class="row-restaurant">
            <div class="col-restaurant">
                <h1>Restaurant Register</h1>
                <form action="">
                    {% csrf_token %}
                    <label class="details" for="">Restaurant Name:</label>
                    <input type="text" class="input-details" name="name"/>

                    <label class="details" for="">Restaurant Location:</label>
                    <input type="text" class="input-details" name="location"/>

                    <label class="details" for="">Contact Number:</label>
                    <input type="tel" pattern="9[0-9]{9}" class="input-details" name="phone"/>

                    <label class="details" for="">PAN Number:</label>
                    <input type="text" class="input-details" name="pan"/>

                    <input type="submit" class="register-button" value="Register" />
                    <div>Already have an account? <a href="{% url 'login-admin' %}">Login</a></div>
                </form>
                
            </div>
        </div>
    </div>

    <!-- content end -->


{% endblock %}
